* {
  margin: 0;
  padding: 0;
}
.content {
  background-color: black;
  color: white;
  padding: 30px;
  border-radius: 10px;
}
.row {
  margin-bottom: 10px;
}
.color {
  background-color: #f5f7f8;
  color: black;
  border-radius: 10px;
  cursor: pointer;
}

.row {
  padding: 0px 20px;
}

#span1,
#span2 {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding-top: 4px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 4px;
  position: relative;
  top: 8px;
}
span {
  background-color: blue;
  border-radius: 50%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
}

#msg2 {
  margin-top: 50px;
}
